.main-container {
  display: flex;
}

.cards-container {
  flex: 3 0 0;
  margin-left: 20px;
  margin-right: 20px;
}

#map {
  flex: 1 0 0;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-bar {
  text-align: center;
}

.info-window-container {
  display: flex;
}

.info-image-container {
  flex: 1 0 0;
}

.info-details-container {
  flex: 1 0 0;
  max-width: 150px;
}

.info-details-container h6 {
  color: $green;
}
