<div class="banner">
  <div class="banner-content">
      <h1>Pages#home</h1>
      <p>Find me in app/views/pages/home.html.erb</p>
      <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>

