.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 50px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-image: linear-gradient(-225deg, rgba(218,65,103,0.4) 0%, rgba(0,166,118,0.4)  50%);
  display: flex;
  align-items: center;
  position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
.banner-content {
  z-index: 1;
  align-items: left;
  justify-content: left;
  margin-left: 50px;
}

.banner input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  color: black;
}
.search-container {
 display: inline;
}

