.card-wrapper {
  padding: 2px 2px;
  height: 300px;
}

.card-image {
  height: 175px;
  background-size: cover !important;
  background-position: center;
}

.card-category {
  position: relative;
  color: white;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.card-description {
  position: relative;
  bottom: 10px;
  left: 10px;
}

.card-description h2 {
  font-size: 20px;
}

.card-description h2 a:hover {
  text-decoration: none;
}

.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}

.card-description h5 {
  font-size: 14px;
  color: black;
}

.card-description h6 {
  font-size: 14px;
  color: $green;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.link-text {
  color: $pink;
}
